.grid__card_size_m {
    grid-column: span 3;
}
.grid__card_size_m > h2{
    font-size: 1.7rem;
}
.grid__card_size_m > .card__description {
    position: relative;
    padding-right: 30px;
}
.grid__card_size_m .card__actions {
    right: 10px;
    top: 0;
    height: 100%;
    width: 20px;
    flex-direction: column;
}
.grid__card_size_m .card__actions .like {
    margin: auto 0 0;
}